@import "~bootstrap/scss/bootstrap";

:host ::ng-deep .dynamic-field {
  margin-bottom: .5rem;
  label {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    margin-bottom: .5rem;
    padding: 0;
  }
  .custom-control-label {
    margin-bottom: 0;
  }
}

.debug-dynamic-form {
  background-color: gray(70%);
  border-radius: .25rem;
}
