<div class="dynamic-field input-group" [formGroup]="group">
    <div class="input-group-prepend" *ngIf="config.addon_left as addon_left">
        <span class="input-group-text material-icons">{{ addon_left }}</span>
    </div>

    <label *ngIf="config.label as label">{{ label }}</label>
    <input type="password" class="form-control"
           [ngClass]="{'is-valid': valid(), 'is-invalid': invalid()}"
           [attr.placeholder]="config.placeholder + ( required() ? ' *' : '')"
           [formControlName]="config.name">

    <div class="input-group-append" *ngIf="config.addon_right as addon_right">
        <span class="input-group-text material-icons">{{ addon_right }}</span>
    </div>
</div>
