<div class="dynamic-field input-group" [formGroup]="group">
  <div class="input-group-prepend" *ngIf="config?.addon_left as addon_left">
    <span class="input-group-text material-icons">{{ addon_left }}</span>
  </div>

  <label *ngIf="config?.label as label">{{ label }}</label>
  <input bsDatepicker type="text" class="form-control"
         [ngClass]="{'is-valid': control?.valid, 'is-invalid': control?.invalid}"
         [attr.placeholder]="config?.placeholder + ( required() ? ' *' : '')"
         [formControlName]="config?.name"
         [bsConfig]="{ containerClass: 'theme-default' }">

  <div class="input-group-append" *ngIf="config?.addon_right as addon_right">
    <span class="input-group-text material-icons">{{ addon_right }}</span>
  </div>
</div>
