<div class="dynamic-field input-group" [formGroup]="group" *ngIf="!(control.disabled && !control.value)">
  <div class="input-group-prepend" *ngIf="config.addon_left">
    <span class="input-group-text material-icons">{{ config.addon_left }}</span>
  </div>
  <label *ngIf="config.label">{{ config.label }}</label>
  <input type="text" class="form-control" [ngClass]="{'is-valid': control.valid, 'is-invalid': control.invalid}"
         [attr.placeholder]="config.placeholder + ( required() ? ' *' : '')" (keyup.enter)="onClickAction()"
         [formControlName]="config.name">
  <div class="input-group-append" *ngIf="config.addon_right">
    <span class="input-group-text material-icons" *ngIf="!config.action">{{ config.addon_right }}</span>
    <button class="btn btn-dark text-primary" type="button" *ngIf="config.action" (click)="onClickAction()">
      <i class="material-icons">{{ config.addon_right }}</i>
    </button>
  </div>
</div>
